<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/templates/">

    <!-- Creating a dynamic title, that display a tile of the app and the page type according to the title passed to it -->
    {% if title%}
    <!-- The title when a title is passed to the render_templated() -->
    <title>Chill Zone {{tile}}</title>
    {%else %}
    <!-- The default title if no title is provided -->
    <title>Chill Zone</title>
    {%endif%}
</head>

<body>

    <!-- using a code block -- jinja syntax to display the content for the posts made
    inside the userPosts list in  the blog_app.py -->

    <!-- Using a for loop to itterate through each post made with in the userPosts List -->
    <div class="content">
        {% for post in posts %}
        <h1>{{post.title}}</h1>
        <p>Posted By: {{post.User}} on {{post.postDate}}</p>
        <p>{{post.content}}</p>
        <!-- Ending the for loop -->
        {% endfor %}
    </div>

</body>

</html>